@model ExamApp.WebUICore.ViewModels.LoginModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AjansES | </title>

    <link href="~/Template/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
     Bootstrap 

    <link href="~/Template/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
     Font Awesome 

    <link href="~/Template/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
     NProgress 

    <link href="~/Template/nprogress/nprogress.css" rel="stylesheet" />
     Animate.css 

    <link href="~/Template/animate.css/animate.min.css" rel="stylesheet" />

     Custom Theme Style 
    <link href="~/Template/css/custom.min.css" rel="stylesheet" />

</head>
<body class="login">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>

        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    @ViewBag.error
                    <form asp-controller="Account" asp-action="Login" method="post">
                        <h1>Giriş Formu</h1>
                        <div>
                            @ViewBag.LoginError
                        </div>
                        <div>

                            @Html.TextBoxFor(m => m.UserName, new { @placeholder = "Kullanıcı Adı", @class = "form-control col-md-7 col-xs-12", @id = "kullnici", autocomplete = "off" })

                        </div>
                        <div>
                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = "Şifre", @type = "password", autocomplate = "off" })

                        </div>
                        <div>
                            <button type="submit" class="btn btn-round btn-success ">Giriş</button>

                        </div>

                    </form>
                </section>
            </div>
        </div>
    </div>
</body>
